body
{
    background-color:#d0e4fe
}
h1
{
    color:orange;
    text-align:center;
}
div
{
    color:orange;
    font-family:"Times New Roman";
    font-size:25px;
}
label
{
    font-family:"Times New Roman";
    font-size:25px;
}
span
{
    font-family:"Times New Roman";
    font-size:25px;
}
p
{
    font-family:"Times New Roman";
    font-size:30px;
}
button
{
    font-family:"Times New Roman";
    font-size:30px;
}
